body
{ 
    margin :0; 
    border:0; 
    margin-top: 150px; 
   
    background: url("bg.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#mf{ 
    font-size : 15px;
    background: url("bg2.jpg") center; 
    background-size: cover;
}

#send_email{float : right ;font-size : 20px;}